# Artefacts de compilation Python (générés par py_compile lors des vérifications de syntaxe du miroir du shim)
__pycache__/
*.pyc

# Artefacts de compilation OpenModelica (générés par omc/simulate(), à ne jamais committer)
*.exe
*.o
*.a
*.bat
*.log
*.libs
*.makefile
*_res.mat
*_init.xml
*_info.json
*_model.h
*_includes.h
*_literals.h
*_functions.c
*_functions.h
*_external_functions.json
*_records.c
*_records.o
*_JacLSJac*.bin
*_JacA.bin
*_01exo.c
*_02nls.c
*_03lsy.c
*_04set.c
*_05evt.c
*_06inz.c
*_07dly.c
*_08bnd.c
*_09alg.c
*_10asr.c
*_11mix.c
*_11mix.h
*_12jac.c
*_12jac.h
*_13opt.c
*_13opt.h
*_14lnz.c
*_15syn.c
*_16dae.c
*_16dae.h
*_17inl.c
*_18spd.c
/MicroPythonMCU/MCU.c
/MicroPythonMCU/Resources/Verification/*.c
